@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Made by @ViewData["madeby"].</p>

<adress>
    <strong>Linkedin :</strong> <a href="https://www.linkedin.com/in/pedro-hca/">linkedin/pedro-hca</a>
</adress>
